section.background {
  padding-top: 80px;

  .background-paragraphs {
    column-count: 2;
    column-gap: 40px;
    margin-top: 80px;
  }
}


@media only screen and (max-width: 768px) {

  section.background .background-paragraphs {
    column-count: 1;
    column-gap: 0;

    p {
      width: 100%;
    }
  }

}
