section.contact {

  .contact-cards {
    width: 100%;
    margin-top: 120px;

    display: flex;
    flex-wrap: wrap;

    .contact-card {
      width: 50%;
      padding: 0 20px 0 0;

      &:nth-child(2n) {
        padding: 0 0 0 20px;

        .card {
          img {
            order: 1;
          }

          .info {
            order: 2;
            padding: 0 0 0 40px;
            align-items: flex-start;
          }
        }
      }

      .card {
        width: 100%;
        background: #fff;
        border: 1px solid #E9E4EF;
        box-shadow: 0px 7px 24px -10px rgba(#000, 0.2);
        border-radius: 8px;
        padding: 20px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
          width: 200px;
          border-radius: 2px;
          order: 2;
        }

        .info {
          width: 0px;
          flex-grow: 1;
          order: 1;

          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0 40px 0 0;

          h2 {
            margin-bottom: 10px;
          }

          a {
            color: #221F26;
            text-decoration: none;
            margin-top: 5px;

            transition: color 0.2s ease;

            &:hover {
              color: #631AE4;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1100px) {

  section.contact .contact-cards {
    flex-direction: column;
    align-items: flex-start;

    .contact-card {
      width: 100%;
      max-width: 600px;
      padding: 0;
      margin-bottom: 40px;

      &:nth-child(2n) {
        padding: 0;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

}

@media only screen and (max-width: 768px) {

  section.contact .contact-cards .contact-card {
    margin-bottom: 30px;
  }

}


@media only screen and (max-width: 540px) {

  section.contact .contact-cards .contact-card {
    .card {
      flex-direction: column;
      padding: 30px;

      img {
        width: 100%;
        max-width: 200px;
        order: 1;
        margin-bottom: 30px;
      }

      .info {
        width: 100%;
        padding: 0;
        order: 2;
        align-items: center;
      }
    }

    &:nth-child(2n) .card .info {
      padding: 0;
      align-items: center;
    }
  }

}
