section.contact {
  margin-bottom: 240px;

  .contact-cards {
    width: 100%;
    margin-top: 120px;

    display: flex;
    flex-wrap: wrap;

    .contact-card {
      width: 50%;
      padding: 0 20px 0 0;

      &:nth-child(2n) {
        padding: 0 0 0 20px;

        .card {
          img {
            order: 1;
          }

          .info {
            order: 2;
            padding: 0 0 0 40px;
            align-items: flex-start;
          }
        }
      }

      .card {
        width: 100%;
        background: #fff;
        border: 1px solid #E9E4EF;
        box-shadow: 0px 7px 24px -10px rgba(#000, 0.2);
        border-radius: 8px;
        padding: 20px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
          width: 200px;
          border-radius: 2px;
          order: 2;
        }

        .info {
          width: 0px;
          flex-grow: 1;
          order: 1;

          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0 40px 0 0;

          h2 {
            margin-bottom: 10px;
          }

          a {
            color: #221F26;
            text-decoration: none;
            margin-top: 5px;

            transition: color 0.2s ease;

            &:hover {
              color: #631AE4;
            }
          }
        }
      }
    }
  }
}
