section.hero {
  height: 950px;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(#631AE4, 0.4);
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to top, #fff 0%, rgba(#fff, 0) 50%);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-content {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      max-width: 1000px;
    }

    h4 {
      max-width: 630px;
      margin: 20px 0 40px;
    }

    .button-wrapper {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      a, button {
        margin-right: 20px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
